<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-danger btn-block" (click)='onStopGame()'>Stop</button>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-primary btn-block" type="button" (click)='onStartGame()'>Start</button>
    </div>
</div>

<li class="list-group-item d-flex justify-content-between align-items-center">Test Timer
    <span class="badge badge-primary">{{currentNumber}}</span>
</li>

<!-- <button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button> -->

